<!-- public/views/nerd.html -->
<div class="jumbotron text-center">
    <h1>Nerds and Proud</h1>
    <p>{{ tagline }}</p>
     <!-- Nerds LIST -->
        <div id="nerds-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <!-- LOOP OVER THE nerds IN $scope.nerds -->
                <div ng-repeat="nerd in nerds">
                   {{ nerd.name }} and {{nerd.gadgets.length}}
			<b>Gadgets:</b><br/> 
       			<ul>
			  <li ng-repeat="gadget in nerd.gadgets"> 
			   {{gadget.name}}
			 </li>
		       </ul>
		</div>
            </div>
        </div>
</div>
