<!-- public/views/nerd.html -->
<div class="jumbotron text-center">
    <h1>Nerds and Proud</h1>
    <p>{{ tagline }}</p>
     <!-- Nerds LIST -->
	<div id="nerds-list-header" class="row">        
  
  	   <div class="col-md-4 fa fa-user" >
               <h3>Nerd name and gadget size</h3>
	    </div>
	    <div class="col-md-4 fa fa-cog">
	        <h3>Gadgets</h3>
	    </div>
            <div class="col-md-4 fa fa-street-view">
	        <h3>Address</h3>
	    </div>
        </div>
        <div id="nerds-list" class="row" ng-repeat="nerd in nerds">
          <!-- LOOP OVER THE nerds IN $scope.nerds -->
            <div class="col-md-4">
                   {{ nerd.name }} and {{nerd.gadgets.length}}
	    </div>
	    <div class="col-md-4" ng-repeat="gadget in nerd.gadgets">
	           {{gadget.name}}
	    </div>
            <div class="col-md-4">
                   City: {{ nerd.address.city }} <br/>
                   Street: {{nerd.address.street}} <br/>
	    </div>
        </div>
        <!-- FORM TO CREATE NERD -->
        <form role="form">
            <div class="form-group">
            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
	      <label for="name">Name:</label>
              <input type="text" id="name" class="form-control" ng-model="formData.name">
              <label for="city">City:</label>
              <input type="text" id="city" class="form-control" ng-model="formData.address.city">
	      <label for="street">Street:</label>
              <input type="text" id="street" class="form-control" ng-model="formData.address.street">
            </div>
              <!-- createToDo() WILL CREATE NEW TODOS -->
            <button type="submit" class="btn btn-primary btn-lg" ng-click="createNerd(formData)">Add</button>
       </form>
</div>
